Repository bitgineer/Speakeasy: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck, pytest, vitest

.pre-commit-config.yaml:

# Pre-commit hooks for SpeakEasy
# Install with: pip install pre-commit && pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python: Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python: Type checking with mypy (optional - remove if not using)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       files: ^backend/
  #       additional_dependencies: [types-all]

  # JavaScript/TypeScript: ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd gui && npm run lint'
        language: system
        files: ^gui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      # TypeScript type checking
      - id: typecheck
        name: TypeScript Check
        entry: bash -c 'cd gui && npm run typecheck'
        language: system
        files: ^gui/.*\.(ts|tsx)$
        pass_filenames: false

      # Backend tests (on changed Python files)
      - id: pytest
        name: Backend Tests
        entry: bash -c 'cd backend && python -m pytest tests/ -x -q'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      # Frontend tests (on changed TS/TSX files)
      - id: vitest
        name: Frontend Tests
        entry: bash -c 'cd gui && npm test -- --run'
        language: system
        files: ^gui/.*\.(ts|tsx)$
        pass_filenames: false

# Default stages
default_stages: [commit]

# Skip hooks for certain commit types (optional)
ci:
  skip: [pytest, vitest]  # Skip slow tests in CI (run separately)

fix: repair Unicode corruption in App.tsx arrow functions
  gui/src/renderer/src/App.tsx
Due: eslint, typecheck, vitest

feat: initialize SpeakEasy backend GSD project
  .gitignore
Due: none

feat(01-01): create design tokens as CSS variables
  gui/src/renderer/src/styles/tokens.css
Due: none

feat(01-01): update Tailwind config to reference CSS variables
  gui/tailwind.config.js
Due: eslint

feat(01-01): import tokens.css in globals.css
  gui/src/renderer/src/styles/globals.css
Due: none

feat(01-02): add Geist font family variables
  gui/src/renderer/src/styles/tokens.css
Due: none

feat(01-02): import Geist font and update base typography styles
  gui/src/renderer/src/styles/globals.css
Due: none

feat(01-02): enhance shadow tokens with layered elevation
  gui/src/renderer/src/styles/tokens.css
Due: none

feat(01-02): update Tailwind config for Geist font and enhanced shadows
  gui/tailwind.config.js
Due: eslint

feat(01-03): update body background to refined dark theme
  gui/src/renderer/src/styles/globals.css
Due: none

feat(01-03): add spring-physics transitions to interactive elements
  gui/src/renderer/src/styles/globals.css
Due: none

feat(01-03): update focus indicators for accessibility
  gui/src/renderer/src/styles/globals.css
Due: none

feat(01-03): add reduced motion media query support
  gui/src/renderer/src/styles/globals.css
Due: none

feat(01-03): update component classes to use new transitions
  gui/src/renderer/src/styles/globals.css
Due: none

chore(02-01): install shadcn/ui dependencies
  gui/package-lock.json
  gui/package.json
Due: none

feat(02-01): create cn() utility function
  gui/src/renderer/src/lib/utils.ts
Due: eslint, typecheck, vitest

feat(02-03): create Input component with CVA variants
  gui/src/renderer/src/components/ui/input.tsx
Due: eslint, typecheck, vitest

feat(02-02): create Button component with CVA variants
  gui/src/renderer/src/components/ui/button.tsx
Due: eslint, typecheck, vitest

feat(02-04): create Card component with subcomponents
  gui/src/renderer/src/components/ui/card.tsx
Due: eslint, typecheck, vitest

feat(02-06): create Label component with Radix primitive and required indicator
  gui/src/renderer/src/components/ui/label.tsx
Due: eslint, typecheck, vitest

feat(02-05): create Badge component with CVA variants
  gui/src/renderer/src/components/ui/badge.tsx
Due: eslint, typecheck, vitest

feat(02-07): create Icon component wrapper for Lucide React icons
  gui/src/renderer/src/components/ui/icon.tsx
Due: eslint, typecheck, vitest

feat(02-08): create Dialog component with Radix primitives
  gui/src/renderer/src/components/ui/dialog.tsx
Due: eslint, typecheck, vitest

feat(01-01): replace manual cache scanning with scan_cache_dir() API
  backend/speakeasy/services/download_state.py
Due: pytest

feat: Add backend text cleanup and server, and a new frontend component test page.
  gui/src/renderer/src/pages/ComponentTest.tsx
Due: eslint, typecheck, vitest
