Repository bitgineer/Speakeasy: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck, pytest, vitest

eslint:
  name: ESLint
  entry: bash -c 'cd gui && npm run lint'
  language: system
  pass_filenames: false

typecheck:
  name: TypeScript Check
  entry: bash -c 'cd gui && npm run typecheck'
  language: system
  pass_filenames: false

pytest:
  name: Backend Tests
  entry: bash -c 'cd backend && python -m pytest tests/ -x -q'
  language: system
  pass_filenames: false

vitest:
  name: Frontend Tests
  entry: bash -c 'cd gui && npm test -- --run'
  language: system
  pass_filenames: false

feat(03.3-01): create overlay positioner service
  .planning/ROADMAP.md
  gui/src/main/overlay-positioner.ts
Due: eslint, typecheck, vitest

feat(03.3-01): integrate positioner into window management
  gui/src/main/windows.ts
Due: eslint, typecheck, vitest

fix(03.3-01): adjust overlay bottom margin per user feedback
  gui/src/main/overlay-positioner.ts
Due: eslint, typecheck, vitest

docs(03.4): capture phase context and add to roadmap
  .planning/ROADMAP.md
  .planning/phases/03.4-fix-batch-transcription/03.4-CONTEXT.md
Due: none

docs(03.4): research phase domain
  .planning/phases/03.4-fix-batch-transcription/03.4-RESEARCH.md
Due: none

feat(03.4-01): implement transcribe_file in TranscriberService
  .planning/ROADMAP.md
  backend/speakeasy/core/transcriber.py
Due: pytest

feat(03.4-01): implement batch retry logic and error propagation
  backend/speakeasy/services/batch.py
Due: pytest

feat(03.4-02): display specific error messages in batch list
  gui/src/renderer/src/pages/BatchTranscription.tsx
Due: eslint, typecheck, vitest

docs(03.5): capture phase context and add to roadmap
  .planning/ROADMAP.md
  .planning/phases/03.5-stabilize-batch-transcription/03.5-CONTEXT.md
Due: none

docs(03.5): research phase domain
  .planning/phases/03.5-stabilize-batch-transcription/03.5-RESEARCH.md
Due: none

feat(03.5-01): implement model reloading and thread-safe callbacks
  .planning/ROADMAP.md
  backend/speakeasy/core/transcriber.py
  scripts/test_reload.py
Due: pytest

feat(03.5-01): implement batch soft restart for CUDA errors
  backend/speakeasy/services/batch.py
  tests/test_batch_recovery.py
Due: pytest

docs(03.5-01): complete Stabilize Batch Transcription plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03.5-stabilize-batch-transcription/03.5-01-SUMMARY.md
Due: none

docs(phase-03.5): complete phase execution
  .planning/phases/03.5-stabilize-batch-transcription/03.5-VERIFICATION.md
Due: none

docs(03.6): capture phase context and add to roadmap
  .planning/ROADMAP.md
  .planning/phases/03.6-fix-windows-file-locking/03.6-CONTEXT.md
Due: none

feat(03.6-01): implement safe manifest handling helpers
  backend/speakeasy/core/models.py
  scripts/test_temp_locking.py
Due: pytest

fix(03.6-01): refactor NeMo models to use safe manifest handling
  backend/speakeasy/core/models.py
  scripts/test_batch_safe.py
Due: pytest

test(03.6-01): verify manifest cleanup on failure
  scripts/test_batch_failure.py
Due: none

docs(03.6-01): complete fix temp file locking plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03.6-fix-windows-file-locking/03.6-01-SUMMARY.md
Due: none

docs(phase-03.6): complete phase execution
  .planning/phases/03.6-fix-windows-file-locking/03.6-VERIFICATION.md
Due: none

chore: update README and package metadata for improved clarity and keyword expansion
  README.md
  backend/pyproject.toml
  gui/package.json
Due: none

fix(backend): add missing fields to SettingsUpdateRequest
  backend/speakeasy/server.py
Due: pytest

fix(ui): improve scrollbar styling to prevent unstyled gray track
  gui/src/renderer/src/styles/globals.css
Due: none

fix(ui): make appearance settings card fill available height
  gui/src/renderer/src/pages/settings/AppearanceSettings.tsx
Due: eslint, typecheck, vitest

fix(ui): import Palette icon in AppearanceSettings
  gui/src/renderer/src/pages/settings/AppearanceSettings.tsx
Due: eslint, typecheck, vitest

fix(ui): prevent double scrollbar by hiding overflow on body
  gui/src/renderer/src/styles/globals.css
Due: none

fix(ui): restore save button and fix theme void artifacts
  gui/src/renderer/src/pages/settings/AppearanceSettings.tsx
  gui/src/renderer/src/styles/themes.css
Due: eslint, typecheck, vitest

Path conditions:
  eslint: any of: ^gui/.*\.(ts|tsx|js|jsx)$
  typecheck: any of: ^gui/.*\.(ts|tsx)$
  pytest: any of: ^backend/.*\.py$
  vitest: any of: ^gui/.*\.(ts|tsx)$
