Repository bitgineer/Speakeasy: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck, pytest, vitest

.pre-commit-config.yaml:

# Pre-commit hooks for SpeakEasy
# Install with: pip install pre-commit && pre-commit install

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python: Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python: Type checking with mypy (optional - remove if not using)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       files: ^backend/
  #       additional_dependencies: [types-all]

  # JavaScript/TypeScript: ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd gui && npm run lint'
        language: system
        files: ^gui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      # TypeScript type checking
      - id: typecheck
        name: TypeScript Check
        entry: bash -c 'cd gui && npm run typecheck'
        language: system
        files: ^gui/.*\.(ts|tsx)$
        pass_filenames: false

      # Backend tests (on changed Python files)
      - id: pytest
        name: Backend Tests
        entry: bash -c 'cd backend && python -m pytest tests/ -x -q'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      # Frontend tests (on changed TS/TSX files)
      - id: vitest
        name: Frontend Tests
        entry: bash -c 'cd gui && npm test -- --run'
        language: system
        files: ^gui/.*\.(ts|tsx)$
        pass_filenames: false

# Default stages
default_stages: [commit]

# Skip hooks for certain commit types (optional)
ci:
  skip: [pytest, vitest]  # Skip slow tests in CI (run separately)

Reduce console noise by suppressing uvicorn access logs
  backend/speakeasy/__main__.py
  backend/speakeasy/server.py
Due: pytest

Improve model loading: show realistic target times per model type
  backend/speakeasy/core/models.py
Due: pytest

chore: remove generated and development files from git tracking
  .gitignore
  backend/.coverage
  backend/uv.lock
  gui/coverage/.tmp/coverage-0.json
  gui/coverage/.tmp/coverage-1.json
  gui/coverage/.tmp/coverage-2.json
  gui/coverage/.tmp/coverage-3.json
  gui/package-lock.json
  gui/tsconfig.web.tsbuildinfo
Due: none

docs: update and complete documentation for Speakeasy
  AGENTS.md
  CLAUDE.md
  backend/speakeasy/core/README.md
  backend/speakeasy/services/README.md
  backend/speakeasy/utils/README.md
Due: none

chore: update .gitignore
  .gitignore
Due: none

feat(worker): implement model loading, unloading, and reloading functionality
  backend/pyproject.toml
  backend/speakeasy/core/worker.py
  gui/src/renderer/src/components/ConfidenceText.tsx
Due: eslint, typecheck, pytest, vitest

feat: Add comprehensive hotspot test suite with blast radius analysis (TESTED)
  .github/workflows/blast-radius.yml
  .github/workflows/test.yml
  .legacy/faster_whisper_hotkey/__init__.py
  .legacy/faster_whisper_hotkey/__main__.py
  .legacy/faster_whisper_hotkey/available_models_languages.json
  .legacy/faster_whisper_hotkey/clipboard.py
  .legacy/faster_whisper_hotkey/config.py
  .legacy/faster_whisper_hotkey/models.py
  .legacy/faster_whisper_hotkey/paste.py
  .legacy/faster_whisper_hotkey/settings.py
  .legacy/faster_whisper_hotkey/terminal.py
  .legacy/faster_whisper_hotkey/transcribe.py
  .legacy/faster_whisper_hotkey/transcriber.py
  .legacy/faster_whisper_hotkey/ui.py
  AGENTS.md
  CLAUDE.md
  backend/coverage.xml
  backend/run_tests.bat
  backend/run_tests.sh
  backend/tests/test_hotspot_batch_operations.py
  backend/tests/test_hotspot_history_operations.py
  backend/tests/test_hotspot_model_loading.py
  backend/tests/test_hotspot_text_cleanup.py
  backend/tests/test_hotspot_transcription_pipeline.py
  backend/validate_tests.py
  gui/e2e/hotspot-flows.spec.ts
  gui/src/main/events.ts
  gui/src/renderer/src/pages/ComponentTest.tsx
  src/README.md
Due: eslint, typecheck, pytest, vitest

fix: Update run_tests.bat to handle venv recreation
  backend/run_tests.bat
Due: none

Fix venv validation, dependency checking, and model loading bug
  backend/check_deps.py
  backend/speakeasy/server.py
  start.bat
  start.sh
Due: pytest

security: Remove sensitive files and update .gitignore
  .gitignore
Due: none

ci: install PortAudio and xvfb for backend tests on Linux
  .github/workflows/test.yml
Due: none

docs: rewrite the documentation from verified behavior and add one setup script
  .gitignore
  CONTRIBUTING.md
  README.md
  backend/check_deps.py
  backend/speakeasy/core/transcriber.py
  docs/api.md
  docs/architecture.md
  docs/configuration.md
  docs/development.md
  docs/install.md
  docs/troubleshooting.md
  docs/usage.md
  gui/README.md
  install.bat
  install.py
  install.sh
  reinstall_backend.bat
  reinstall_backend.sh
  start.bat
  start.sh
Due: pytest

fix: close the audited gaps in settings, cancel, quit, downloads, and models
  backend/pyproject.toml
  backend/speakeasy/__main__.py
  backend/speakeasy/core/README.md
  backend/speakeasy/core/config.py
  backend/speakeasy/core/grammar_processor.py
  backend/speakeasy/core/models.py
  backend/speakeasy/server.py
  backend/speakeasy/services/README.md
  backend/speakeasy/services/settings.py
  backend/tests/test_settingsservice_save.py
  backend/tests/test_transcribe_stop_function.py
  backend/tests/test_whisper_model_resolution.py
  docs/api.md
  docs/configuration.md
  docs/troubleshooting.md
  docs/usage.md
  gui/README.md
  gui/src/main/backend.ts
  gui/src/main/hotkey.ts
  gui/src/main/index.ts
  gui/src/main/windows.ts
  gui/src/renderer/src/App.tsx
  gui/src/renderer/src/api/backend-port.ts
  gui/src/renderer/src/api/types.ts
  gui/src/renderer/src/components/Overlay/RecordingPill.tsx
  gui/src/renderer/src/components/RecordingIndicator.tsx
  gui/src/renderer/src/hooks/index.ts
  gui/src/renderer/src/hooks/useWebSocket.ts
  gui/src/renderer/src/main.tsx
  gui/src/renderer/src/pages/settings/BehaviorSettings.tsx
  gui/src/renderer/src/store/history-store.ts
Due: eslint, typecheck, pytest, vitest

fix: stop live transcription from starving audio and flooding the console
  backend/speakeasy/core/models.py
  backend/speakeasy/core/transcriber.py
  backend/speakeasy/server.py
  backend/speakeasy/services/settings.py
  docs/configuration.md
  gui/src/renderer/src/api/types.ts
  gui/src/renderer/src/pages/settings/BehaviorSettings.tsx
Due: eslint, typecheck, pytest, vitest

test: pin live transcript rewriting and silent-pass churn
  backend/tests/test_live_transcription_stability.py
Due: pytest

fix: keep the live transcript append-only outside a short tail
  backend/speakeasy/core/live_transcript.py
  backend/speakeasy/core/transcriber.py
  backend/tests/test_live_transcript.py
Due: pytest

fix: keep the live transcript append-only outside a short tail
  backend/speakeasy/core/live_transcript.py
  backend/speakeasy/core/transcriber.py
  backend/tests/test_live_transcript.py
  backend/tests/test_live_transcription_stability.py
Due: pytest

ci: remove the broken Blast Radius Analysis workflow
  .github/workflows/blast-radius.yml
  .gitignore
Due: none

fix: run backend work off the event loop and pin the wire contract
  backend/openapi.json
  backend/scripts/export_openapi.py
  backend/speakeasy/contracts.py
  backend/speakeasy/openapi_export.py
  backend/speakeasy/server.py
  backend/speakeasy/services/batch.py
  backend/speakeasy/services/download_state.py
  backend/speakeasy/services/history.py
  backend/speakeasy/services/settings.py
  backend/tests/test_download_state_contract.py
  backend/tests/test_schema_contract.py
  backend/tests/test_server_async_contracts.py
  docs/api.md
Due: pytest

feat: generate the GUI API types from the backend schema
  .github/workflows/test.yml
  gui/package.json
  gui/src/renderer/src/api/client.ts
  gui/src/renderer/src/api/generated.ts
  gui/src/renderer/src/api/types.ts
  gui/src/renderer/src/pages/settings/ModelSettings.tsx
  gui/src/renderer/src/store/settings-store.ts
Due: eslint, typecheck, vitest

chore: remove dead weight, bound hotkey fetches, document packaging
  README.md
  backend/pyproject.toml
  backend/run_tests.bat
  backend/run_tests.sh
  backend/speakeasy/core/text_cleanup.py
  backend/speakeasy/core/worker.py
  backend/speakeasy/utils/README.md
  backend/speakeasy/utils/audio_devices.py
  backend/tests/test_apiclient_constructor.py
  backend/tests/test_apiclient_request.py
  backend/tests/test_check_import_function.py
  backend/tests/test_createmainwindow_function.py
  backend/tests/test_history_list_function.py
  backend/tests/test_insert_text_function.py
  backend/tests/test_startbackend_function.py
  backend/tests/test_transcribe_start_function.py
  backend/tests/test_usetoast_hook.py
  backend/tests/test_websocketclient_connect.py
  backend/tests/test_websocketclient_constructor.py
  backend/validate_tests.py
  docs/development.md
  docs/install.md
  gui/src/main/backend.ts
  gui/src/main/events.ts
  gui/src/main/hotkey.ts
  gui/src/main/index.ts
  gui/src/main/python-command.test.ts
  gui/src/main/python-command.ts
Due: eslint, typecheck, pytest, vitest

fix: normalize the schema check across line endings
  .gitattributes
  backend/speakeasy/openapi_export.py
  backend/tests/test_schema_contract.py
Due: pytest

docs: design synthesis and decision trail for AI processing modes
  docs/design/2026-09-23-ai-processing-modes.decisions.tsv
  docs/design/2026-09-23-ai-processing-modes.md
Due: none

feat: add processing settings schema and provider key store
  backend/openapi.json
  backend/speakeasy/server.py
  backend/speakeasy/services/secrets.py
  backend/speakeasy/services/settings.py
  backend/tests/test_appsettings_uniqueness.py
  backend/tests/test_get_key_function.py
  backend/tests/test_schema_contract.py
  backend/tests/test_set_key_function.py
  backend/tests/test_settings_provider_key_routes.py
  backend/tests/test_settings_update_function.py
  backend/tests/test_settingsservice_load.py
  backend/tests/test_settingsservice_save.py
  docs/design/2026-09-23-ai-processing-modes.decisions.tsv
  gui/src/renderer/src/api/generated.ts
Due: eslint, typecheck, pytest, vitest

feat: add pure processing core for modes, tones, and provider readiness
  backend/speakeasy/core/processing.py
  backend/tests/test_describe_readiness.py
  backend/tests/test_matches_app.py
  backend/tests/test_resolve_processing.py
  docs/design/2026-09-23-ai-processing-modes.decisions.tsv
Due: pytest

style: apply ruff format to files from the first two phases
  backend/speakeasy/server.py
  backend/speakeasy/services/settings.py
  backend/tests/test_appsettings_uniqueness.py
  backend/tests/test_describe_readiness.py
  backend/tests/test_resolve_processing.py
  backend/tests/test_settings_provider_key_routes.py
  backend/tests/test_settings_update_function.py
  backend/tests/test_settingsservice_load.py
  backend/tests/test_settingsservice_save.py
Due: pytest

feat: add async executor, provider adapter, and focused-app probes
  backend/pyproject.toml
  backend/speakeasy/core/processing.py
  backend/speakeasy/core/providers.py
  backend/speakeasy/utils/focused_app.py
  backend/tests/test_begin_processing_function.py
  backend/tests/test_complete_openai_compatible.py
  backend/tests/test_detect_focused_app_function.py
  backend/tests/test_execute_plan.py
  backend/tests/test_focused_app_parsers.py
  backend/tests/test_sanitize.py
  docs/design/2026-09-23-ai-processing-modes.decisions.tsv
Due: pytest

fix: never rewrite already-shown words in live captions
  backend/speakeasy/core/live_transcript.py
  backend/tests/test_live_transcript.py
  backend/tests/test_live_transcription_lifecycle.py
  backend/tests/test_live_transcription_stability.py
  docs/architecture.md
  docs/usage.md
Due: pytest

feat: wire AI processing into the transcription pipeline
  backend/openapi.json
  backend/speakeasy/contracts.py
  backend/speakeasy/core/README.md
  backend/speakeasy/server.py
  backend/speakeasy/services/README.md
  backend/speakeasy/services/history.py
  backend/tests/test_focused_app_route.py
  backend/tests/test_historyservice_get.py
  backend/tests/test_processing_status_route.py
  backend/tests/test_schema_contract.py
  backend/tests/test_server_async_contracts.py
  backend/tests/test_transcribe_start_cancel.py
  backend/tests/test_transcribe_stop_processing.py
  docs/design/2026-09-23-ai-processing-modes.decisions.tsv
  gui/src/renderer/src/App.tsx
  gui/src/renderer/src/api/generated.ts
  gui/src/renderer/src/api/websocket.ts
  gui/src/renderer/src/store/history-store.ts
  gui/src/renderer/src/test/history-store-record-path.test.ts
Due: eslint, typecheck, pytest, vitest

feat: add mode chips, AI processing settings, and multi-binding hotkeys
  backend/openapi.json
  backend/speakeasy/server.py
  backend/speakeasy/services/settings.py
  backend/tests/test_settingsservice_load.py
  backend/tests/test_settingsservice_reset.py
  backend/tests/test_settingsservice_save.py
  docs/design/2026-09-23-ai-processing-modes.decisions.tsv
  gui/src/main/hotkey-bindings.test.ts
  gui/src/main/hotkey-bindings.ts
  gui/src/main/hotkey.ts
  gui/src/main/index.ts
  gui/src/main/ipc-handlers.ts
  gui/src/preload/index.ts
  gui/src/renderer/src/App.tsx
  gui/src/renderer/src/api/client.ts
  gui/src/renderer/src/api/generated.ts
  gui/src/renderer/src/api/types.ts
  gui/src/renderer/src/components/HistoryItem.tsx
  gui/src/renderer/src/components/HotkeyInput.tsx
  gui/src/renderer/src/components/ModeChips.tsx
  gui/src/renderer/src/components/Overlay/IdlePill.tsx
  gui/src/renderer/src/components/Overlay/RecordingPill.tsx
  gui/src/renderer/src/components/RecordingIndicator.tsx
  gui/src/renderer/src/components/Sidebar.tsx
  gui/src/renderer/src/hooks/index.ts
  gui/src/renderer/src/hooks/useHotkeyRegistration.ts
  gui/src/renderer/src/pages/Dashboard.tsx
  gui/src/renderer/src/pages/settings/HotkeySettings.tsx
  gui/src/renderer/src/pages/settings/ProcessingSettings.tsx
  gui/src/renderer/src/pages/settings/index.ts
  gui/src/renderer/src/test/use-hotkey-registration.test.ts
Due: eslint, typecheck, pytest, vitest

docs: preserve the arena synthesis and log cross-run notes
  docs/design/2026-09-23-ai-processing-modes.decisions.tsv
  docs/design/2026-09-23-ai-processing-modes.md
  docs/design/2026-09-23-arena-synthesis.md
Due: none

fix: accept pasted endpoint base URLs and add provider model lists
  backend/openapi.json
  backend/speakeasy/core/processing.py
  backend/speakeasy/core/providers.py
  backend/speakeasy/server.py
  backend/tests/test_complete_openai_compatible.py
  backend/tests/test_effective_base_url.py
  backend/tests/test_fetch_provider_models.py
  backend/tests/test_provider_models_route.py
  docs/design/2026-09-23-ai-processing-modes.decisions.tsv
  gui/src/renderer/src/api/client.ts
  gui/src/renderer/src/api/generated.ts
  gui/src/renderer/src/api/types.ts
  gui/src/renderer/src/pages/settings/ProcessingSettings.tsx
Due: eslint, typecheck, pytest, vitest

fix: redact request key and prompt from surfaced provider errors
  backend/speakeasy/core/processing.py
  backend/speakeasy/core/providers.py
  backend/tests/test_complete_openai_compatible.py
  docs/design/2026-09-23-ai-processing-modes.decisions.tsv
Due: pytest

feat: rebuild the shell and dashboard on the new tokens
  docs/design/2026-09-23-ui-overhaul.decisions.tsv
  docs/design/ui-captures/phase3/dashboard-after-phase3-dark.png
  docs/design/ui-captures/phase3/dashboard-after-phase3-light.png
  docs/design/ui-captures/phase3/dashboard-before-1461218-dark.png
  docs/design/ui-captures/phase3/dashboard-before-1461218-light.png
  docs/design/ui-captures/phase3/report.md
  gui/package.json
  gui/scripts/capture-ui.mjs
  gui/scripts/check-tokens.mjs
  gui/scripts/fixtures/capture-history.json
  gui/src/renderer/src/App.tsx
  gui/src/renderer/src/components/HistoryItem.tsx
  gui/src/renderer/src/components/HistoryItemSkeleton.tsx
  gui/src/renderer/src/components/ModeChips.tsx
  gui/src/renderer/src/components/Pagination.tsx
  gui/src/renderer/src/components/Sidebar.tsx
  gui/src/renderer/src/pages/Dashboard.tsx
  gui/src/renderer/src/styles/globals.css
  gui/src/renderer/src/utils/navigation.ts
Due: eslint, typecheck, vitest

fix: restore the solid danger button and tighten the token check
  docs/design/2026-09-23-ui-overhaul.decisions.tsv
  gui/scripts/check-tokens.mjs
  gui/src/renderer/src/components/ui/button.tsx
  gui/src/renderer/src/components/ui/input.tsx
  gui/src/renderer/src/components/ui/select.tsx
  gui/src/renderer/src/styles/themes.css
  gui/src/renderer/src/styles/tokens.css
  gui/tailwind.config.js
Due: eslint, typecheck, vitest

test: harden capture markers and correct the phase 3 report
  docs/design/2026-09-23-ui-overhaul.decisions.tsv
  docs/design/ui-captures/phase3/report.md
  gui/scripts/capture-ui.mjs
Due: none
