Repository bitgineer/Speakeasy: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck, pytest, vitest

eslint:
  name: ESLint
  entry: bash -c 'cd gui && npm run lint'
  language: system
  pass_filenames: false

typecheck:
  name: TypeScript Check
  entry: bash -c 'cd gui && npm run typecheck'
  language: system
  pass_filenames: false

pytest:
  name: Backend Tests
  entry: bash -c 'cd backend && python -m pytest tests/ -x -q'
  language: system
  pass_filenames: false

vitest:
  name: Frontend Tests
  entry: bash -c 'cd gui && npm test -- --run'
  language: system
  pass_filenames: false

feat: Add backend text cleanup and server, and a new frontend component test page.
  gui/src/renderer/src/pages/ComponentTest.tsx
Due: eslint, typecheck, vitest

Delete Auto Run Docs/Initiation directory
  Auto Run Docs/Initiation/Phase-01-UI-Feedback-Progress-Indicators.md
  Auto Run Docs/Initiation/Phase-02-Model-Download-Progress.md
  Auto Run Docs/Initiation/Phase-03-Security-Memory-Fixes.md
  Auto Run Docs/Initiation/Phase-04-Testing-Framework-Setup.md
  Auto Run Docs/Initiation/Phase-05-Backend-Testing.md
  Auto Run Docs/Initiation/Phase-06-E2E-Testing.md
  Auto Run Docs/Initiation/Phase-07-Performance-Optimization.md
  Auto Run Docs/Initiation/Phase-08-Export-Batch-Features.md
  Auto Run Docs/Initiation/Phase-09-VAD-Audio-Enhancement.md
  Auto Run Docs/Initiation/Phase-10-Logging-Monitoring.md
Due: none

fix: recording indicator invisible hit area
  gui/src/main/windows.ts
Due: eslint, typecheck, vitest

fix(backend): fix windows file locking error for temporary wav files
  backend/speakeasy/core/models.py
Due: pytest

refactor(02-01): update GrammarModelInfo for templates and tasks
  backend/speakeasy/core/grammar_processor.py
  backend/speakeasy/core/models.py
Due: pytest

feat(02-01): update correct() to support task parameter
  backend/speakeasy/core/grammar_processor.py
Due: pytest

fix(02-01): use default model from metadata in GrammarProcessor
  backend/speakeasy/core/grammar_processor.py
Due: pytest

feat(03-01): configure overlay window for pass-through
  gui/src/main/windows.ts
Due: eslint, typecheck, vitest

feat(03-01): implement IPC handler for mouse event ignoring
  gui/src/main/ipc-handlers.ts
Due: eslint, typecheck, vitest

feat(03-01): expose mouse event control to renderer
  gui/src/preload/index.ts
  gui/src/renderer/src/App.tsx
Due: eslint, typecheck, vitest

feat(03-02): create Overlay logic container
  gui/src/renderer/src/components/Overlay/OverlayContainer.tsx
Due: eslint, typecheck, vitest

feat(03-02): create visual overlay components
  gui/src/renderer/src/components/Overlay/IdlePill.tsx
  gui/src/renderer/src/components/Overlay/RecordingPill.tsx
  gui/src/renderer/src/components/Overlay/TranscribingLine.tsx
Due: eslint, typecheck, vitest

feat(03-02): expose recording controls via IPC
  gui/src/main/hotkey.ts
  gui/src/main/ipc-handlers.ts
  gui/src/preload/index.ts
  gui/src/renderer/src/App.tsx
Due: eslint, typecheck, vitest

feat(03-02): integrate overlay components into RecordingIndicator
  gui/src/renderer/src/components/RecordingIndicator.tsx
Due: eslint, typecheck, vitest

feat(03.1-01): handle locked state in RecordingIndicator
  gui/src/renderer/src/components/RecordingIndicator.tsx
Due: eslint, typecheck, vitest

feat(03.1-01): add lock icon to RecordingPill
  gui/src/renderer/src/components/Overlay/RecordingPill.tsx
Due: eslint, typecheck, vitest

fix(03.1-01): update App.tsx types for new recording features
  gui/src/renderer/src/App.tsx
Due: eslint, typecheck, vitest

docs(03.2): create phase plan
  .planning/ROADMAP.md
  .planning/phases/03.2-remove-background/03.2-01-PLAN.md
Due: none

refactor(03.2-01): remove global background styles
  gui/src/renderer/index.html
  gui/src/renderer/src/styles/globals.css
Due: none

refactor(03.2-01): cleanup RecordingIndicator hacks
  gui/src/renderer/src/components/RecordingIndicator.tsx
Due: eslint, typecheck, vitest

Path conditions:
  eslint: any of: ^gui/.*\.(ts|tsx|js|jsx)$
  typecheck: any of: ^gui/.*\.(ts|tsx)$
  pytest: any of: ^backend/.*\.py$
  vitest: any of: ^gui/.*\.(ts|tsx)$
