Repository bitgineer/Speakeasy: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck, pytest, vitest

eslint:
  name: ESLint
  entry: bash -c 'cd gui && npm run lint'
  language: system
  pass_filenames: false

typecheck:
  name: TypeScript Check
  entry: bash -c 'cd gui && npm run typecheck'
  language: system
  pass_filenames: false

pytest:
  name: Backend Tests
  entry: bash -c 'cd backend && python -m pytest tests/ -x -q'
  language: system
  pass_filenames: false

vitest:
  name: Frontend Tests
  entry: bash -c 'cd gui && npm test -- --run'
  language: system
  pass_filenames: false

fix(ui): use correct handler for save button
  gui/src/renderer/src/pages/settings/AppearanceSettings.tsx
Due: eslint, typecheck, vitest

fix: resolve UI settings ignored and API 404 for model cache
  backend/speakeasy/server.py
  gui/src/main/index.ts
  gui/src/main/windows.ts
Due: eslint, typecheck, pytest, vitest

fix: installer working directory issue
  install.bat
  reinstall_backend.bat
Due: none

fix: backend venv detection path
  gui/src/main/backend.ts
Due: eslint, typecheck, vitest

fix(gui): appearance page layout bug on medium screens
  gui/src/renderer/src/pages/settings/AppearanceSettings.tsx
Due: eslint, typecheck, vitest

fix: add system prerequisite checks and suppress warnings
  README.md
  backend/README.md
  backend/speakeasy/__main__.py
  install.bat
  install.sh
Due: pytest

fix: disable unstable optimizations and add prerequisite checks
  backend/pyproject.toml
  backend/speakeasy/core/models.py
  backend/speakeasy/core/transcriber.py
  backend/speakeasy/server.py
  debug_env.py
  gui/src/main/hotkey.ts
  gui/src/renderer/src/pages/Dashboard.tsx
  gui/src/renderer/src/store/app-store.ts
  install.bat
  reinstall_backend.bat
Due: eslint, typecheck, pytest, vitest

fix: disable unstable optimizations and add prerequisite checks
  backend/pyproject.toml
  backend/speakeasy/core/models.py
  backend/speakeasy/core/transcriber.py
  backend/speakeasy/server.py
  gui/src/main/hotkey.ts
  gui/src/renderer/src/pages/Dashboard.tsx
  gui/src/renderer/src/store/app-store.ts
  install.bat
  reinstall_backend.bat
Due: eslint, typecheck, pytest, vitest

chore: update package-lock.json and ckb config
  gui/package-lock.json
Due: none

docs: Revamp README with detailed project overview and quick start guide, add new contributing and model optimization documentation, and introduce initial project configuration files.
  CONTRIBUTING.md
  README.md
Due: none

feat: Add model loading optimization guide, UI component, and project configuration with code intelligence setup.
  backend/pyproject.toml
  gui/package.json
Due: none

feat: Introduce core code intelligence system with new configuration, database files, and expanded `.gitignore` for various project assets.
  .gitignore
  gui/src/renderer/src/components/ModelLoadingBanner.tsx
Due: eslint, typecheck, vitest

chore: enhance .gitignore with project-specific exclusions
  .gitignore
Due: none

feat: enhance startup scripts and documentation
  README.md
  start.bat
  start.sh
Due: none

chore: fix licensing and add governance files
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CODE_OF_CONDUCT.md
  LICENSE
  LICENSE.txt
  README.md
  SECURITY.md
  backend/README.md
Due: none

fix: recording indicator now respects visibility settings
  gui/src/renderer/src/components/RecordingIndicator.tsx
  gui/src/renderer/src/components/__tests__/RecordingIndicator.test.tsx
Due: eslint, typecheck, vitest

fix: reduce settings cache TTL to sync recording indicator visibility
  gui/src/renderer/src/api/client.ts
Due: eslint, typecheck, vitest

chore: remove stale root pyproject.toml to prevent confusion
  pyproject.toml
Due: none

fix: explicitly install and verify FastAPI in install scripts
  install.bat
  install.sh
Due: none

fix: explicitly target venv Python in UV pip install commands
  install.bat
  install.sh
Due: none

fix: remove invalid PyPI classifier causing build failure
  backend/pyproject.toml
Due: none

refactor: remove redundant explicit FastAPI installs
  install.bat
  install.sh
Due: none

Enhance documentation and UI components
  .gitignore
  README.md
  backend/README.md
  gui/README.md
  gui/src/renderer/src/components/HistoryItem.tsx
  gui/src/renderer/src/components/Sidebar.tsx
  gui/src/renderer/src/components/ui/button.tsx
  gui/src/renderer/src/components/ui/card.tsx
  gui/src/renderer/src/pages/Dashboard.tsx
  gui/src/renderer/src/styles/globals.css
Due: eslint, typecheck, vitest

feat(01-03): integrate E2E tests into CI/CD pipeline
  .github/workflows/test.yml
Due: none

feat(01-01): enforce frontend coverage thresholds at 30%
  gui/vitest.config.ts
Due: eslint, typecheck, vitest

fix(01-02): install pytest with proper uv flags
  backend/tests/conftest.py
  backend/uv.lock
Due: pytest

feat(01-02): enforce backend coverage thresholds at 40%
  backend/pyproject.toml
Due: none

Path conditions:
  eslint: any of: ^gui/.*\.(ts|tsx|js|jsx)$
  typecheck: any of: ^gui/.*\.(ts|tsx)$
  pytest: any of: ^backend/.*\.py$
  vitest: any of: ^gui/.*\.(ts|tsx)$
